{% extends "layout.html" %}
{% from "form_macros.html" import render_field %}

{% block content %}
    <article>
        <h1>Swimmer Comparison</h1>
        <form action="" method="post" class="swimmer">
            <article>
                {{form.hidden_tag()}}
                <p>
                    {{ render_field(form.swimmername, size=50)}}
                    <button type="submit">Add</button>
                </p>
            </article>
        </form>
    </article>
    <article>
        <h2>Swimmers Added</h2>
        {% if swimmers_added %}
        <ul>
            {% for swimmer in swimmers_added %}
            <li>{{ swimmer.name }} from {{ swimmer.club }} added</li>
            {% endfor %}
        </ul>
        {% else %}
        No swimmers added yet.
        {% endif %}
    </article>
{% endblock %}